
<%- include('header') -%>

<section class="lecture">
  <div class="heading" style="background-image: url(<%= lecture.image %>");">
    <span class="heading__category"> <%= category %> </span>
    <h1 class="heading__title"> <%= title %> </h1>
  </div>
  <div class="lecture__content">
    <div class="lecture__row">
      <div class="lecture__col">
        <% if (Array.isArray(lecture.content)){ %>
          <%- locals.setContent(lecture.content) %>
        <% } %>
      </div>
    </div>
  </div>
  
  <div class="lecture__footer">
    <a class="lecture__back" href="/">Til baka</a>
  </div>
</section>
<%- include('footer') -%>